.loader-master {
  width:100%;
  height:100%;
  text-align: center;
}
.loader {
    margin: 25% auto;
}

@keyframes hover {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px); opacity: .25}
    100% {transform: translate(0,0);}
}

.dot {
    margin:10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border:#202020 solid 1px;
    transition: opacity 2s;
}


.loader .dot:nth-last-child(1) {animation: hover 2s 0s linear infinite;}
.loader .dot:nth-last-child(2) {animation: hover 2s .5s linear infinite;}
.loader .dot:nth-last-child(3) {animation: hover 2s 1s linear infinite;}
.loader .dot:nth-last-child(4) {animation: hover 2s 1.5s linear infinite;}
