// @import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700|Roboto:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Fredericka+the+Great|Open+Sans+Condensed:300,300i,700');
@import 'variables.less';
@import 'mapping.less';
@import 'Landing.less';
@import 'Navbar.less';
@import 'Jumbotron.less';
@import 'AboutMe.less';
@import 'Social.less';
@import 'MyValues.less';
@import 'Value.less';
@import 'MySkills.less';
@import 'SkillCard.less';

.app {
  height: 100vh;
  font-family: @paragraph-font;
  h1, h2, h3, h4, h5{
    font-family: @header-font;
  }
}
body {
  background: @body-background-color!important;
}
.container, .container-fluid {
  z-index: 2;
}

html {
  overflow-x: hidden;
}
