@-webkit-keyframes dropDown {
  0% {
    // background: #fbfbfb;
    opacity: 0.0;
    -webkit-transform: translateY(-150px);
    border-radius:50%;
  }
  100% {
    top: 0;
    background: none;
  }
}

@-moz-keyframes dropDown {
  0% {
    // background: #fbfbfb;
    opacity: 0.0;
    -moz-transform: translateY(-150px);
    border-radius:50%;
  }
  100% {
    background: none;
  }
}

@-o-keyframes dropDown {
  0% {
    // background: #fbfbfb;
    opacity: 0.0;
    -o-transform: translateY(-150px);
    border-radius:50%;
  }
  100% {
    top: 0;
    background: none;
  }
}

@-ms-keyframes dropDown {
  0% {
    // background: #fbfbfb;
    opacity: 0.0;
    -ms-transform: translateY(-150px);
    border-radius:50%;
  }
  100% {
    top: 0;
    background: none;
  }
}

@keyframes dropDown {
  0% {
    // background: #fbfbfb;
    opacity: 0.0;
    // transform: translate(0,-150px);
    top: -150px;
    border-radius:50%;
  }
  100% {
    top: 0;
    background: none;
  }
}

.jumbotron {
  margin:100px 0!important;
  z-index:10;
  background: none!important;
  p {
    opacity: 0.0;
    color: @base-color-2;
    // text-shadow: 1px 0px 1px desaturate(@base-color-1, 30%);
    font-family: @special-font;
    font-size: 2.5em!important;
    transition: opacity 1s;
  }
  h1,h2,h3,h4,h5 {
    color: @base-color-2!important;
    // text-shadow: 1px 1px 2px @base-color-0, 2px 2px 0px @base-color-3;
    letter-spacing: 5px;
    font-family: @title-font!important;
  }

  h1{
    font-size: 4em!important;
    text-transform: uppercase;
  }
  .empty-letter{
    opacity:0.0!important;
  }
  .animation {
    font-size: 50px;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    // margin: 150px auto;
  }
  .is-paused {
    animation-play-state: paused!important;
    opacity: 0.0!important;
  }
  .expanded-letter {
    padding: 5px 2%!important;
  }
  .letter {
    display: inline-block;
    padding: 5px 2px;
    transition: padding 1s, top 2s, opacity 2s;
  }

  .animation .letter {
    -webkit-animation: dropDown 2s;
    -moz-animation: dropDown 2s;
    -ms-animation: dropDown 2s;
    -o-animation: dropDown 2s;
    animation: dropDown 2s;
    position: relative;
  }
}
