.landing {
}
.background-image{
  width: 100%;
  background-image: url('/public/img/background_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:fixed;
  height: 100vh;
  opacity: 0.1;
}
.section-break {
  position:relative;
  background: @base-color-3;
  text-align:left;
}
.img-backdrop {
  position: fixed;
  z-index: -1;
  background: @base-color-4!important;
  width: 100%;
  height: 100vh;
}
.backdrop {
  background: @base-color-2;
}
.parallax {
  display: block;
  z-index: -1;
  position: fixed;
}
