.landing {
  margin-top: 50px;
}
div.background-image{
  // top:50px;
  // left:0;
  // right:0;
  z-index: -1;
  width: 100%;
  background-image: url('/public/img/background_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  min-height: 500px;
}
.grain-overlay {

  z-index:-1;
  width:100%;
  height: 100%;
  position: absolute;
  background-image: url('/public/img/img-noise-361x370.png');
  background-repeat: repeat;
  opacity: .8;
}
