#myskills {
  padding:80px 0;
  background: #202020;
  h1 {
    top:-100px;
    margin:0;
    display: inline-block;
    position: relative;
    text-align: center;
    background:lighten(@highlight-background-color, 5%);
    color:@primary-text-color;
    padding:2px 20px;
  }
  .SkillCards {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
