.myvalues {
  padding: 80px 0;
  background: @standard-background-color;
  color:@primary-text-color;
  width: 100%;
  display: inline-block;
  h1 {
    top:-100px;
    margin:0;
    display: inline-block;
    position: relative;
    text-align: center;
    background:lighten(@highlight-background-color,5%);
    color:@primary-text-color;
    padding:2px 20px;
  }
}
