.myvalues {
  padding: 80px 0;
  background: @base-color-3;
  color:@base-color-4;
  width: 100%;
  display: inline-block;
  h1 {
    top:-100px;
    margin:0;
    display: inline-block;
    position: relative;
    text-align: center;
    background:lighten(@base-color-1,5%);
    color:@base-color-4;
    padding:2px 20px;
  }
}
