// colors
@base-color-0: #df8f37;
@base-color-1: #DEA05F;
@base-color-2: #FBFBFB;
@base-color-3: #AAAAAA;
@base-color-4: #202020;

@light-color-0: @base-color-2;


// fonts
// @standard-font: 'Roboto', sans-serif;
// @special-font: 'Oleo Script', cursive;
@standard-font: 'Open Sans Condensed', sans-serif;
@special-font: 'Amatic SC', cursive;
@title-font: 'Fredericka the Great', cursive;


@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
